doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Hind+Madurai:wght@300;400&family=Roboto&display=swap" rel="stylesheet"> 
    title Document
  body 
    include ./common-modules/header/header
    section.full-recipe
      .full-recipe__wrapper 
        h2.title Запеченная курица
        .full-recipe__item 
            img.full-recipe__img(src=require('./asset/eggplant.jpg')  alt="alt")
        .full-recipe__item
            p.full-recipe__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
             |Nobis repellat odio placeat debitis distinctio nemo nam modi, quis ex illum animi quaerat!
             |Provident necessitatibus ducimus libero reiciendis voluptatem! Placeat, totam.
             |Nobis repellat odio placeat debitis distinctio nemo nam modi, quis ex illum animi quaerat!
             |Provident necessitatibus ducimus libero reiciendis voluptatem! Placeat, totam.
             |Nobis repellat odio placeat debitis distinctio nemo nam modi, quis ex illum animi quaerat!
             |Provident necessitatibus ducimus libero reiciendis voluptatem! Placeat, totam.
             |Nobis repellat odio placeat debitis distinctio nemo nam modi, quis ex illum animi quaerat!
             |Provident necessitatibus ducimus libero reiciendis voluptatem! Placeat, totam.
             |Nobis repellat odio placeat debitis distinctio nemo nam modi, quis ex illum animi quaerat!
             |Provident necessitatibus ducimus libero reiciendis voluptatem! Placeat, totam.
             |Nobis repellat odio placeat debitis distinctio nemo nam modi, quis ex illum animi quaerat!
             |Provident necessitatibus ducimus libero reiciendis voluptatem! Placeat, totam.
             |Nobis repellat odio placeat debitis distinctio nemo nam modi, quis ex illum animi quaerat!
             |Provident necessitatibus ducimus libero reiciendis voluptatem! Placeat, totam.
             |Nobis repellat odio placeat debitis distinctio nemo nam modi, quis ex illum animi quaerat!
             |Provident necessitatibus ducimus libero reiciendis voluptatem! Placeat, totam.
    include ./common-modules/footer/footer